{% extends 'base.html' %}
{% block content %}


<!-- ======================== Breadcrumb Four Section Start ===================== -->
<section class="breadcrumb breadcrumb-four padding-static-y-60 section-bg position-relative z-index-1 overflow-hidden">

    <img src="assets/images/gradients/breadcrumb-gradient-bg.png" alt="" class="bg--gradient">

    <img src="assets/images/shapes/element-moon3.png" alt="" class="element one">
    <img src="assets/images/shapes/element-moon1.png" alt="" class="element three">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb-four-content">
                    <h3 class="breadcrumb-four-content__title text-center mb-3 text-capitalize">Shopping Cart</h3>
                    <ul class="breadcrumb-list flx-align justify-content-center gap-2 mb-2">
                        <li class="breadcrumb-list__item font-14 text-body">
                            <a href="index.html" class="breadcrumb-list__link text-body hover-text-main">Home</a>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__text">My Shopping Cart</span>
                        </li>
                    </ul>

                    <ul class="process-list">
                        <li class="process-list__item activePage">
                            <a href="cart.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white1.svg" alt=""></span>
                                </div>
                                <span class="text">Shopping Cart</span>
                            </a>
                        </li>
                        <li class="process-list__item activePage">
                            <a href="cart-personal.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white2.svg" alt=""></span>
                                    <span class="icon colored"><img src="assets/images/icons/process2.svg" alt=""></span>
                                </div>
                                <span class="text">Mailing Address</span>
                            </a>
                        </li>
                        <li class="process-list__item ">
                            <a href="cart-payment.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white3.svg" alt=""></span>
                                    <span class="icon colored"><img src="assets/images/icons/process3.svg" alt=""></span>
                                </div>
                                <span class="text">Payment Methods</span>
                            </a>
                        </li>
                        <li class="process-list__item">
                            <a href="cart-thank-you.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white4.svg" alt=""></span>
                                    <span class="icon colored"><img src="assets/images/icons/process4.svg" alt=""></span>
                                </div>
                                <span class="text">Preview Order</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Breadcrumb Four Section End ===================== -->

<!-- ====================== Cart Personal Info Start ============================ -->
<section class="cart-personal padding-y-120">
    <div class="container container-two">
        <div class="row gy-5">
            <div class="col-lg-8 pe-sm-5">
                <div class="cart-personal__content">
                    <h5 class="cart-personal__title mb-32">Personal information</h5>
                    <form method="post">{% csrf_token %}
                        <div class="mb-4">
                            <label for="email" class="form-label font-18 mb-2 fw-500 font-heading">Address <span class="text-danger">*</span> </label>
                            <span class="text d-block mb-2">Manzilingiz uzgargan bo'lsa uzgartiring</span>
                            <input type="text" class="common-input" name="address" id="email" value="{{user.address}}">
                        </div>
                        <div class="mb-4">
                            <label for="name" class="form-label font-18 mb-2 fw-500 font-heading">Username <span class="text-danger">*</span> </label>
                            <span class="text d-block mb-2">Username</span>
                            <input type="text" class="common-input" id="name"  name="username" value="{{user.username}}">
                        </div>
                        <div class="mb-4">
                            <label for="lastName" class="form-label font-18 mb-2 fw-500 font-heading">Telefon<span class="text-danger">*</span> </label>
                            <span class="text d-block mb-2">Telefon raqamingizni tasdiqlang</span>
                            <input type="text" class="common-input" id="lastName" name="phone" value="{{user.phone}}">
                        </div>
     <button type="submit"  class="btn btn-main flx-align gap-2 pill btn-lg">
                        saqlash
                    </button>
                    </form>
                </div>



                <div class="cart-content__bottom flx-between gap-2">
                    <a href="cart.html" class="btn btn-outline-light flx-align gap-2 pill btn-lg">
                        <span class="icon line-height-1 font-20"><i class="las la-arrow-left"></i></span>
                        Back
                    </a>
              {% if cart %}
<a href="{% url 'order' cart.code %}" class="btn btn-main flx-align gap-2 pill btn-lg">
    Buyurtma berish
</a>
{% endif %}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="order-summary">
                    <h5 class="order-summary__title mb-32">Order Summary</h5>
                    <ul class="billing-list">
                        <li class="billing-list__item flx-between">
                            <span class="text text-heading fw-500">Umumiy narx</span>
                            <span class="amount text-heading fw-500">${{cart.cart_total_price}}</span>
                        </li>
                        <li class="billing-list__item flx-between">
                            <span class="text text-heading fw-500">Umumiy chegirma</span>
                            <span class="amount text-body">${{cart.discount_total_price}}</span>
                        </li>
                        <li class="billing-list__item flx-between">
                            <span class="text text-heading fw-500">Buyurtmalar soni</span>
                            <span class="amount text-body">{{cart.count_product}}</span>
                        </li>
<!--                        <li class="billing-list__item flx-between">-->
<!--                            <span class="text text-heading fw-500">Subtotal</span>-->
<!--                            <span class="amount text-body">$15.00</span>-->
<!--                        </li>-->
<!--                        <li class="billing-list__item flx-between">-->
<!--                            <span class="text text-heading font-20 fw-500 font-heading">Total</span>-->
<!--                            <span class="amount text-heading font-20 fw-500 font-heading">$274.00</span>-->
<!--                        </li>-->
                    </ul>
<!--                    <button type="submit" class="btn btn-outline-light pill btn-lg w-100 mt-32">-->
<!--                        <span class="icon icon-left"><img src="assets/images/icons/cart-reverse.svg" alt=""></span>-->
<!--                        Purchased Now-->
<!--                    </button>-->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ====================== Cart Personal Info End ============================ -->

{% endblock %}