{% extends 'base.html' %}
{% block content %}



<!-- ======================== Breadcrumb Four Section Start ===================== -->
<section class="breadcrumb breadcrumb-four padding-static-y-60 section-bg position-relative z-index-1 overflow-hidden">

    <img src="assets/images/gradients/breadcrumb-gradient-bg.png" alt="" class="bg--gradient">

    <img src="assets/images/shapes/element-moon3.png" alt="" class="element one">
    <img src="assets/images/shapes/element-moon1.png" alt="" class="element three">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="breadcrumb-four-content">
                    <h3 class="breadcrumb-four-content__title text-center mb-3 text-capitalize">Shopping Cart</h3>
                    <ul class="breadcrumb-list flx-align justify-content-center gap-2 mb-2">
                        <li class="breadcrumb-list__item font-14 text-body">
                            <a href="index.html" class="breadcrumb-list__link text-body hover-text-main">Home</a>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__icon font-10"><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li class="breadcrumb-list__item font-14 text-body">
                            <span class="breadcrumb-list__text">My Shopping Cart</span>
                        </li>
                    </ul>

                    <ul class="process-list">
                        <li class="process-list__item activePage">
                            <a href="cart.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white1.svg" alt=""></span>
                                </div>
                                <span class="text">Shopping Cart</span>
                            </a>
                        </li>
                        <li class="process-list__item ">
                            <a href="cart-personal.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white2.svg" alt=""></span>
                                    <span class="icon colored"><img src="assets/images/icons/process2.svg" alt=""></span>
                                </div>
                                <span class="text">Mailing Address</span>
                            </a>
                        </li>
                        <li class="process-list__item ">
                            <a href="cart-payment.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white3.svg" alt=""></span>
                                    <span class="icon colored"><img src="assets/images/icons/process3.svg" alt=""></span>
                                </div>
                                <span class="text">Payment Methods</span>
                            </a>
                        </li>
                        <li class="process-list__item">
                            <a href="cart-thank-you.html" class="process-list__link">
                                <div class="icons">
                                    <span class="icon white"><img src="assets/images/icons/process-white4.svg" alt=""></span>
                                    <span class="icon colored"><img src="assets/images/icons/process4.svg" alt=""></span>
                                </div>
                                <span class="text">Preview Order</span>
                            </a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== Breadcrumb Four Section End ===================== -->
<!-- ======================= Cart Section Start ======================== -->
<div class="cart padding-y-120">
    <div class="container">
        <div class="cart-content">
            <div class="table-responsive">
                <table class="table style-two">
                    <thead>
                      <tr>
                        <th>Product Details</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Discount Price</th>
                        <th>Total</th>
                        <th>Discount Total</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for i in cart_products %}
                      <tr>
                        <td>
                            <div class="cart-item">
                                <div class="d-flex align-items-center gap-3">
                                    <div class="cart-item__thumb">
                                        <a href="product-details.html" class="link">
                                            <img src="{{i.product.image.url}}" alt="" class="cover-img">
                                        </a>
                                    </div>
                                    <div class="cart-item__content">
                                        <h6 class="cart-item__title font-heading fw-700 text-capitalize font-18 mb-4"> <a href="product-details.html" class="link">{{i.product.name}}</a></h6>
                                        <span class="cart-item__price font-18 text-heading fw-500">Category: <span class="text-body font-14">{{i.product.category.name}}</span></span>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="cart-item__count">
                                <a type="button" href="{% url 'cart_product_count_minus' i.code %}" data-decrease="data-decrease"> <i class="fas fa-minus"></i></a>
                                <input data-value="data-value" type="number" value="{{i.count}}">
                                <a type="button" href="{% url 'cart_product_count_pilus' i.code %}" data-increase="data-increase"><i class="fas fa-plus"></i></a>
                            </div>
                        </td>
                        <td>
                            <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{i.product.price}}</span>
                        </td>

                         <td>
                            <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{i.product.discount_price}}</span>
                        </td>
                        <td>
                            <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{i.total_price}}</span>
                        </td>
                          <td>
                            <span class="cart-item__totalPrice text-body font-18 fw-400 mb-0">${{i.discount_price}}</span>
                        </td>
                      </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="cart-content__bottom flx-between gap-2">
                <a href="" class="btn btn-outline-light flx-align gap-2 pill btn-lg">
                    <span class="icon line-height-1 font-20"><i class="las la-arrow-left"></i></span>
Ortga
                </a>
                <a href="{% url 'cart_personal' %}" class="btn btn-main flx-align gap-2 pill btn-lg">
                    Davom etish
                    <span class="icon line-height-1 font-20"><i class="las la-arrow-right"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- ======================= Cart Section End ======================== -->

{% endblock %}