{% extends 'base.html' %}
{% block content %}

<!-- ========================= Cart Thank You Section Start ======================= -->
<section class="cart-thank section-bg padding-y-120 position-relative z-index-1 overflow-hidden">

    <img src="assets/images/gradients/thank-you-gradient.png" alt="" class="bg--gradient">

    <div class="container container-two">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8 col-sm-10">
                <div class="cart-thank__content text-center">
                    <h2 class="cart-thank__title mb-48">Buyurtma muvafaqiyatli bajarildi!</h2>
                    <div class="cart-thank__img">
                        <img src="assets/images/thumbs/thank-evenelope.png" alt="">
                    </div>
                </div>
            </div>
        </div>

        <div class="padding-t-120">
            <div class="cart-thank__box">
                <div class="row gy-4">
                    <div class="col-lg-6">
                        <div class="thank-card">
                            <h5 class="thank-card__title mb-3">Order Details</h5>
                            <ul class="list-text">
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500 font-heading fw-700 font-18">Order No.</span>
                                    <span class="text text-heading fw-500">#658907</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Order Status</span>
                                    <span class="text">$28.00</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Payment Method:</span>
                                    <span class="text">$28.00</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Date:</span>
                                    <span class="text">$28.00</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Subtotal:</span>
                                    <span class="text">$28.00</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Total</span>
                                    <span class="text">$28.00</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="thank-card">
                            <h5 class="thank-card__title mb-3">Products you have purchased</h5>
                            <ul class="list-text">
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500 font-heading fw-700 font-18">Name</span>
                                    <span class="text text-heading fw-500">Price</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">SaaS Landing Page</span>
                                    <span class="text">$28.00</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Project Management Dashboard </span>
                                    <span class="text">$28.00</span>
                                </li>
                                <li class="list-text__item flx-align flex-nowrap">
                                    <span class="text text-heading fw-500">Consulting Agency Template</span>
                                    <span class="text">$28.00</span>
                                </li>
                            </ul>
                            <div class="thank-card__thumb mt-64 mb-3">
                                <img src="assets/images/thumbs/rating-img.png" alt="">
                            </div>
                            <div class="flx-between gap-2">
                                <p class="text">Please don’t forget to rating</p>
                                <a href="index.html" class="btn btn-main flx-align gap-2 pill">
                                    Back To Home
                                    <span class="icon line-height-1 font-20"><i class="las la-arrow-right"></i></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================= Cart Thank You Section End ======================= -->

{% endblock %}